@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

@font-face {
  font-family:  "boldoy";
  src: url(../../assets/font/boldoy.regular.ttf);
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 88%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  padding: 16px 0;
  position: fixed;  
  z-index: 9999;
  background-color: transparent;
}

header.active {
  background-color: #DF453E;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);
  transition: .5s;
}

header.active .list a { color: #fff; }
.product-page header { background-color: #DF453E; }

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-lists {
  display: flex;
  align-items: center;
}

.list a {
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: .5s;
}

.hamburger { display: none; }
.list a:hover { color: #DF453E; }

header.active .list a:hover,
.product-page .list a:hover { 
  color: #FFCCCC;
}

.cart-money {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.cart-money::after {
  content: "\f290";
  margin-left: 4px;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 32px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Common Style start*/
.banner-top-heading,
.banner-heading,
.specification,
.section-heading,
.product-name,
.discover-top-heading,
.discover-heading,
.kryo-spec figcaption h3,
.kryo-spec figcaption h4,
.watch-video,
.content-head,
.kryo-top-head,
.kryo-heading,
.footer-head,
.contact-us-heading,
.number-text,
.details-heading,
.detail-heading { 
  font-family: "boldoy"; 
  font-style: italic;
  text-transform: uppercase;
}

.btn {
  padding: 12px 23px;
  border: 2px solid #DF453E;
  background-color: #DF453E;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  transition: .5s;
}

.d-none { display: none; }
/* Common Style End */

/* Banner Section CSS Start */
.banner-section {
  width: 100%;
  background-color: #FFCCCC;
  background: linear-gradient(to right, rgba(0,	0,	0, 0.6) 50%, rgba(223,	69,	62, 0.6) 50%), 
              url("../../assets/images/bike-hero.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}

.banner-content { padding: 98px 60% 88px 0; }
.banner-top-heading { font-size: 26px; }

.banner-heading { 
  padding: 15px 0;
  font-size: 74px; 
  line-height: 1.14;
}

.specification {
  padding: 20px 0;
  font-size: 20px;
}

.specs {
  margin-bottom: 47px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.discover-specs-list,
.specs-list {
  font-size: 16px;
  font-weight: 600;
}

.specs-list::before,
.discover-specs-list::before {
  content: "\f192";
  margin-right: 15px;
  font-family: "FontAwesome";
  font-size: 18px;
}

.btn:hover {
  background-color: transparent;
  color: #DF453E;
}
/* Banner Section CSS End */

/* New Arrival Css Start */
.new-arrivales-section { padding: 100px 0 116px; }

.section-heading { 
  padding: 34px 0;  
  color: #161616;
  font-size: 50px; 
  text-align: center;
}

.sliders {
  width: 100%;
  padding: 12px 0;
  display: flex;
  overflow: hidden;
}

.slider {
  width: 100%;
  min-width: 1188px;
}

.arrivales-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arrivales { margin: 10px; }
.product-content { padding: 12px 0; }

.arrivales img { 
  cursor: pointer; 
  transition: .5s;
}

.arrivales img:hover {
  opacity: .7;
  transition: .5s;
}

.product-category {
  color: #A5A7AB;
  font-size: 14px;
  text-transform: capitalize;
}

.product-name {
  padding: 8px 0;
  color: #2C2526;
  font-size: 14px;
}

.star { text-indent: -99999px; }

.stars { 
  padding-bottom: 5px;
  display: flex; 
}

.star::after {
  content: "\f005";
  color: #4B4F58;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.empty-star::after { content: "\f006"; }

.product-price {
  color: #5A5558;
  font-size: 14px;
  font-weight: 600;
}
/* New Arrival Css End */

/* Discover Section Css Start */
.discover-section {
  padding: 100px 0 96px;
  color: #fff;
}

.mountain-bikes {
  background: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(22,22,22,.9) 60%), 
              url("../../assets/images/moutain-bike.jpg") no-repeat center;
  background-size: cover;
}

.city-bikes {
  background: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(22,22,22,.9) 60%), 
              url("../../assets/images/city-bike.jpg") no-repeat center;
  background-size: cover;
}

.speciality-bikes {
  background: linear-gradient(to bottom, rgba(0,0,0,.4) , rgba(22,22,22,.9) 60%), 
              url("../../assets/images/speciality-bike.jpg") no-repeat center;
  background-size: cover;
}

.discover-content { padding: 35px 62% 35px 0; }
.discover-top-heading { font-size: 19px; }

.discover-heading {
  padding: 32px 0;
  font-size: 36px;
}

.kryo-para,
.kryo-spec figcaption p,
.discover-para {
  font-weight: 600;
  line-height: 1.8;
}

.discover-specs {
  width: 100%;
  padding: 44px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} 

.discover-specs-list {  flex-basis: 47%; }
.discover-specs-list::before { color: #DF453E; }
.discover-content .btn { margin-top: 10px;} 
/* Discover Section Css End */

/* Why Choose Us Section Start */
.why-choose-section { 
  padding: 90px 0 45px;
  background: linear-gradient(to bottom, #F5F5F5 82%, #fff 18% );
}

.kryo-specification {
  margin: 30px 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
}

.light-weight,
.lifetime-warrenty {
  flex-basis: 49%;
}

.service-network, 
.assembled-delivery, 
.free-first {
  flex-basis: 32.1%;
}  

.kryo-spec { position: relative; }

.kryo-spec figcaption {
  padding: 35px;
  position: absolute;
  bottom: 0%; 
  left: 0%;
} 

.kryo-spec figcaption h3 {
  font-size: 28px;
  padding: 10px 0;
}

.kryo-spec figcaption h4 { font-size: 18px;}
/* Why Choose Us Section End */

/* Explore Accessories Section Css Start */
.explore-section { padding: 35px 0 98px; }

.explore-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.gloves-size {
  margin: 18px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.size {
  padding: 5px 10px;
  border: 1px solid #EBEBEB;
  color: #80839B;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.size:hover {
  border: 1px solid #DF453E;
  color: #DF453E;
}

.view-more-btn {
  margin-top: 30px;
  text-align: center;
}
/* Explore Accessories Section Css End */

/* Join Programme Section Start */
.goecobiking-section {
  padding: 70px 0 58px;
  background-color: #F5F5F5;
}

.goecobiking-section .wrapper { padding: 0 7.5%; }

.join-programme {  
  padding: 412px 50px 58px;
  margin: 22px 0;
  background: linear-gradient(to bottom, rgba(0,0,0,.4) , rgba(22,22,22,.9) 60%),
              url("../../assets/images/join-programme.jpg") no-repeat center;
  background-size: cover; 
  color: #fff;           
}

.watch-video { font-size: 26px; }

.video { 
  display: inline-block;
  text-indent: -99999px; 
  cursor: pointer;
}

.video::after {
  content: "\f04b";
  width: 56px;
  height: 56px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "FontAwesome";
  font-size: 24px;
  float: left;
  text-indent: 0; 
  transition: .5s;
}

.video:hover::after {
  border: 3px solid #DF453E;
  color: #DF453E;
}

.join-programme-content {
  padding: 38px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-left { flex-basis: 46%; }

.join-left p {
  padding: 15px 0;
  color: #6e686a;
  font-weight: 600;
  line-height: 1.8;
}

.content-head {
  font-size: 26px;
  color: #161616;
}
/* Join Programme Section End */

/* KRYO X26 MTB Section CSS Start */
.kryo-x26 {
  background: linear-gradient(to bottom, rgba(22,22,22,.5) 30%, rgba(22,22,22) 100%),
              url("../../assets/images/bike-hero.jpg") no-repeat center;
  background-size: cover; 
  color: #fff;  
  text-align: center;
}

.kryo-x26 .wrapper { padding: 175px 150px 130px; }
.kryo-top-head { font-size: 26px; } 

.kryo-heading { 
  padding: 36px 0 30px;
  font-size: 50px;
}

.shop-now { margin: 40px; }
/* KRYO X26 MTB Section CSS End */


/* CONTACT PAGE START */
/* Banner Section Start */
.contact-banner-section {
  padding: 190px 0 116px  ;
  background: linear-gradient(to bottom, rgba(0,0,0,.4) , rgba(22,22,22,.9) 60%),
              url("../../assets/images/join-programme.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}

.contact-us-heading {
  font-size: 78px;
  text-align: center;
  word-spacing: -20px;
}
/* Banner Section End */

/* Map Section Start */
.map-section .wrapper { width: 100%; }
iframe { width: 100%; }
/* Map Section End */

/* Contact Number Section Start */
.contact-number-section { padding: 75px 0 204px; }

.number-list {
  padding: 0 88px 0 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-text { font-size: 18px; }

.number-name {
  padding: 10px;
  color: #6e686a;
  font-size: 16px;
  font-weight: 600;
}

.sales::before,
.dealership::before,
.service::before {
  padding: 28px 0 30px;
  display: block;
  color: #DF453E;
  font-family: "FontAwesome";
  font-size: 30px;
  font-style: normal;
  text-align: center;
}

.sales::before { content: "\f0d1"; }
.service::before { content: "\f0b1"; }
.dealership::before { content: "\f54e"; }
/* Contact Number Section Start */

/* Contact Detail and Form Section Start */
.contact-details-section {
  padding: 84px 0 105px;
  background-color: #F5F5F5;
}

.contact-details-section .wrapper {
  height: 100%;
  display: flex;
}

.contact-left,
.contact-right {
  flex-basis: 50%;
}

.contact-left { 
  position: relative; 
}

.contact-form {
  width: 100%;
  height: 140%;
  padding: 64px 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-contact {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  display: flex;
  gap: 20px;
}

.input-group {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 12px;
  outline: none;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  font-size: 16px;
}

.textarea { padding: 14px 14px 12px; }

.form-control .submit {
  font-size: 16px;
}

.input::placeholder {
  color: #8D8F8E;
  font-weight: 600;
}

.error {
  display: block;
  position: absolute;
  bottom: -14px;
  left: 0;
  color: #DF453E;
  font-size: 13px;
  visibility: hidden;
}

.error.show { visibility: visible; }
.contact-right { padding: 0 6.5%; }

.details-heading {
  color: #161616;
  font-size: 38px;
  word-spacing: -10px;
}

.details-container {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.detail-heading {
  padding: 0 0 21px;
  color: #161616;
  font-size: 20px;
  word-spacing: -5px;
}

.detail span { 
  display: block;
  color: #6e686a;
  font-weight: 600;
}

.detail span:last-of-type{ padding: 11px 0 0; }
.detail:nth-child(2) span:last-of-type { padding: 0; }

/* Contact Detail and Form Section End */

/* CONTACT PAGE END */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  background-color: #161616;
  color: #fff;
}

.footer-container {
  padding: 130px 0 65px;
  display: flex;
}

.footer-head { 
  font-size: 22px; 
  word-spacing: -5px;
}

.foot-logo,
.accounts,
.footer-collection,
.footer-links {
  flex-basis: 26%;
}

.footer-logo {
  width: 128px;
  height: 78px;
  display: inline-block;
}

.footer-logo a,
.footer-logo img {
  width: 100%;
  height: 100%;
}


.our-collections,
.accounts,
.usefull-links {
  margin: 38px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.collection,
.account,
.link {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  transition: .5s;
}

.collection:hover,
.account:hover,
.link:hover {
  color: #DF453E;
}

.bottom-footer {
  width: 100%;
  padding: 28px 0;
  border-top: 1px solid #2D2D2D;
}

.bottom-footer .wrapper{
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 14px;
  font-weight: 600;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 22px;
}

.icon {
  color: #fff;
  font-family: "FontAwesome";
  font-size: 18px;
  text-indent: -9999px;
}

.facebook::after { content: "\f082"; }
.instagram::after { content: "\f16d"; }
.twitter::after { content: "\f099"; }
.youtube::after { content: "\f16a"; }

.youtube::after,
.twitter::after, 
.instagram::after,
.facebook::after { 
  float: left;
  text-indent: 0;
}

.contact-footer .footer-container { padding: 102px 0 70px;}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}  